---
http_interactions:
- request:
    method: get
    uri: https://developers.teachable.com/v1/courses/2002430/enrollments?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - 7JbSA3ep6XOMV3t8t7QXuXq9HS79Dwnr
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"42067b15db1964b1f9ece048121d7553"
      Ratelimit-Limit:
      - '360'
      Ratelimit-Remaining:
      - '359'
      Ratelimit-Reset:
      - '49'
      X-Ratelimit-Limit-Minute:
      - '360'
      X-Ratelimit-Remaining-Minute:
      - '359'
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"enrollments":[{"user_id":108775126,"enrolled_at":"2024-07-25T14:21:03Z","completed_at":null,"percent_complete":0,"expires_at":null},{"user_id":108775125,"enrolled_at":"2024-07-25T14:21:01Z","completed_at":null,"percent_complete":0,"expires_at":null},{"user_id":108775124,"enrolled_at":"2024-07-25T14:20:59Z","completed_at":null,"percent_complete":0,"expires_at":null},{"user_id":108775122,"enrolled_at":"2024-07-25T14:20:58Z","completed_at":null,"percent_complete":0,"expires_at":null},{"user_id":108775121,"enrolled_at":"2024-07-25T14:20:54Z","completed_at":null,"percent_complete":0,"expires_at":null},{"user_id":88958558,"e[...]
