---
http_interactions:
- request:
    method: get
    uri: https://developers.teachable.com/v1/courses?is_published=true&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - 7JbSA3ep6XOMV3t8t7QXuXq9HS79Dwnr
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12350a96cfab60baefa21662cb681273"
      Ratelimit-Limit:
      - '360'
      Ratelimit-Remaining:
      - '359'
      Ratelimit-Reset:
      - '15'
      X-Ratelimit-Limit-Minute:
      - '360'
      X-Ratelimit-Remaining-Minute:
      - '359'
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"courses":[{"id":2002430,"description":null,"name":"Trees and Arboreous
        Concerns","heading":"Grow Your Knowledge of Trees and Arboreous Concerns -
        Learn From the Expert!","is_published":true,"image_url":"https://cdn.filestackcontent.com/HfhcrIRZKEyvND8blEXA"},{"id":2002431,"description":null,"name":"Mushroom
        Madness","heading":"Unlock the Secrets of Mushroom Foraging with Mushroom
        Madness","is_published":true,"image_url":"https://cdn.filestackcontent.com/MKdUddC0R9iLDP27yF1L"},{"id":2002436,"description":null,"name":"Herbal
        Teas \u0026 Other Garden Tinctures","heading":"Brew your own natural remedies
        with Herbal Teas \u0026amp; Other Garden Tinctures","is_published":true,"image_url":"https://cdn.filestackcontent.com/4PhkBhwMS0q1e4yCkoVO"}],"meta":{"total":3,"page":1,"from":1,"to":3,"per_page":20,"number_of_pages":1}}'
  recorded_at: Sun, 01 Jun 2025 18:42:45 GMT
recorded_with: VCR 6.3.1
