<p style="color: green"><%= notice %></p>
<% content_for :title, "Courses" %>
<h1 class="text-2xl font-bold">Courses</h1>
<div id="courses">
  <% @courses.each do |course| %>
    <div class="mb-4">
      <%= render course %>
      <p>
        <%= link_to "Show this course", course %>
      </p>
    </div>
  <% end %>
</div>
