<p style="color: green"><%= notice %></p>
<%= render @course %>
<h2 class="my-2 font-bold">Enrollments</h2>
<ul class="space-y-2">
  <% @course.enrollments.each do |enrollment| %>
    <li>
      User: <%= enrollment.user.name %>
      Email: <%= enrollment.user.email %>
    </li>
  <% end %>
</ul>
